
@layer base {
  h1 {
    @apply text-4xl mb-6;
  }

  h2,
  h3 {
    @apply text-2xl my-6;
  }

  h1::before,
  h2::before,
  h3::before {
    @apply mr-4 text-blue-700 dark:text-green-400;
    content: "#";
  }

  p {
    @apply my-4 leading-relaxed;
  }

  h1 + p {
    @apply first-letter:text-4xl first-letter:font-bold;
  }

  pre {
    @apply text-lg rounded-lg my-8 p-3;
  }

  #toc {
    
  }

  #toc > ul {
    @apply border-2 border-zinc-800 dark:border-zinc-200 rounded-xl my-8 py-2 px-4 text-base;
  }

  #toc li {
    @apply my-2 mx-4 list-disc;
  }

  p > a,
  li > a {
    @apply text-blue-700 dark:text-green-400 hover:underline;
  }

  p > code {
    @apply bg-blue-700 dark:bg-green-400 text-zinc-100 dark:text-zinc-900 rounded-lg px-2 whitespace-nowrap;
  }

.swuptransition-fade {
  transition: 0.4s;
  opacity: 1;
  transform: none;
}

html.is-animating .swuptransition-fade {
  opacity: 0;
  transform: translateY(20px);
}

@media (min-width: 768px) {
  h1 { @apply text-6xl mb-12; }
  h3 { @apply text-4xl my-12; }
  h1 + p::first-letter { @apply text-6xl; }
  pre { @apply text-xl; }
  #toc > ul { @apply text-xl; }
}
@media (min-width: 1280px) {
  #toc { @apply float-right w-1/2 ml-8; }
}
:root{
      --icon-size: 64px;     /* Größe der runden Icon-Badges */
      --gap: 16px;           /* Abstand zwischen den Icons */
      --nav-size: 42px;      /* Größe der Navigations-Buttons */
      --ring: 1px solid #e5e7eb;
    }
}
